{% extends 'partpagesbase.html.twig' %}
{% block pageContainer %}
    <div class="myrow">
		<div class="contenu_fieldset" style="display: block;">
			<h2 class="panleHead">
			    <span>| &nbsp; </span>
			    informations de Famille
		    </h2>
	    </div>
		<div class="panlecontainer">

		</div>
    </div>
{% endblock %}