{% extends 'partpagesbase.html.twig' %}
{% block pageContainer %}
    <div class="myrow">
        <div class="contenu_fieldset" style="display: block;">
            <h2 class="panleHead">
                <span>| &nbsp; </span>Fonctions </h2>
            <div class="panlecontainer">
                <div class="panleContainerHead">
                    <div class="clearfix col-lg-6 updateinfo">
                        <a class="btn btn-primary btn-xs" href="# "> <i class=" fa fa-edit"></i> Modifier </a>
                    </div>
                </div>
                <div class="clearfix col-lg-6 " >
                    <label>Fonction :</label>
                    <span>Text Test</span>
                </div>
                <div class="clearfix col-lg-6 ">
                    <label >Organisme :</label>
                    <span> Text Test Overriwth </span>
                </div>
                <div class="clearfix col-lg-6 " >
                    <label>Relais :</label>
                    <span>Text Test</span>
                </div>
                <div class="clearfix col-lg-6 ">
                    <label >Utilisateur :</label>
                    <span> Text Test Overriwth </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}