{% extends 'partpagesbase.html.twig' %}
{% block pageContainer %}
    <div class="myrow">
        <div class="contenu_fieldset" style="display: block;">
            <h2 class="panleHead">
                <span>| &nbsp; </span>Partenaires </h2>
            <div class="panlecontainer">
                <div class="panleContainerHead">
                    <div class="clearfix col-lg-6 updateinfo">
                        <a class="btn btn-primary btn-xs" href=" {{ path('editAssmatInfo') }} "> <i class=" fa fa-edit"></i> Modifier </a>
                    </div>
                </div>
                <div class="clearfix col-lg-6 " >
                    <label>Civilite :</label>
                    <span>Text Test</span>
                </div>
                <div class="clearfix col-lg-6 ">
                    <label >Numéro fiche :</label>
                    <span> Text Test Overriwth </span>
                </div>
                <div class="clearfix col-lg-6 ">
                    <label >Nom :</label>
                    <span> Text Test Overriwth </span>
                </div>
                <div class="clearfix col-lg-6 ">
                    <label>Prenom :</label>
                    <span> Text Test Overriwth </span>
                </div>
                <div class="clearfix col-lg-6 ">
                    <label >Adresse :</label>
                    <span> Text Test Overriwth </span>
                </div>
                <div class="clearfix col-lg-6 ">
                    <label >Ville :</label>
                    <span> Text Test Overriwth </span>
                </div>
                <div class="clearfix col-lg-6 ">
                    <label >Secteur :</label>
                    <span> Text Test Overriwth </span>
                </div>
                <div class="clearfix col-lg-6 ">
                    <label >Quartier :</label>
                    <span> Text Test Overriwth </span>
                </div>
                <div class="clearfix col-lg-6 ">
                    <label>Telephone 1 :</label>
                    <span> Text Test Overriwth </span>
                </div>
                <div class="clearfix col-lg-6 ">
                    <label>Telephone 2 :</label>
                    <span> Text Test Overriwth </span>
                </div>
                <div class="clearfix col-lg-6 ">
                    <label>Fax :</label>
                    <span> Text Test Overriwth </span>
                </div>
                <div class="clearfix col-lg-6 ">
                    <label>Adresse email :</label>
                    <span> Text Test Overriwth </span>
                </div>
                <div class="clearfix col-lg-6 ">
                    <label>MAM :</label>
                    <span> Text Test Overriwth </span>
                </div>
                <div class="clearfix col-lg-6 ">
                    <label>Geolocalisé sur la liste :</label>
                    <span> Text Test Overriwth </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}