{% extends 'assmatpagesbase.html.twig' %}
{% block pageContainer %}
    <div class="myrow">
        <div class="contenu_fieldset" style="display: block;">
            <h2 class="panleHead">
                <span>| &nbsp; </span>modifier informations generales</h2>

                    {{ dump(b) }}

            </div>
        </div>
    </div>
{% endblock %}